@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fafafa;
  --background: #0D0D0D;
  --box-bg: #191919;
  --box-border: #474747;
  --box-h: 640px;
  --box-w: 480px;
  --box-min-w: 360px;
  --tab-selected: #302F2F;
  --tab-font-size: 13px;
  --tab-text: #757575;
  --tab-selected-text: #fafafa;

  background: var(--background);
}

body {
  color: var(--foreground);
}

main {
  min-height: 100svh;
}