@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fafafa;
  --foreground-alt: #757575;
  --foreground-link: #bdbdbd;
  --background: #0d0d0d;
  --box-bg: #191919;
  --box-border: #474747;
  --box-w: 480px;
  --box-min-w: 360px;
  --tab-selected: #302f2f;
  --tab-font-size: 13px;
  --tab-text-color: #757575;
  --tab-selected-text: #fafafa;
  --row-hover: #1e1e1e;
  --admin-label-bg: #382525;
  --admin-label-text: #ed6d68;
  --admin-empty-box: #212020;
  --admin-set-btn: #282828;

  background: var(--background);
}

body {
  color: var(--foreground);
}

main {
  min-height: 100svh;
}

.button-focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-offset-2 focus-visible:ring-offset-[var(--box-bg)] focus-visible:ring-[var(--tab-selected)];
}

.link-focus {
  @apply focus-visible:text-[var(--foreground)] transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[var(--foreground)] focus-visible:ring-offset-[0px] focus-visible:ring-offset-transparent;
}

.tab-focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[var(--tab-selected)] focus-visible:ring-offset-2 focus-visible:ring-offset-[var(--box-bg)] focus-visible:rounded-[2px] data-[state=active]:bg-[var(--tab-selected)] data-[state=active]:text-[var(--tab-selected-text)];
}

.tab-content-focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[var(--tab-selected)] focus-visible:ring-offset-2 focus-visible:ring-offset-[var(--box-bg)] focus-visible:rounded-[2px];
}

.empty-state-focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[var(--tab-selected)] focus-visible:ring-offset-2 focus-visible:ring-offset-[var(--box-bg)] focus-visible:rounded-[2px] focus-visible:bg-[var(--row-hover)];
}

.listitem-focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[var(--tab-selected)] focus-visible:ring-offset-2 focus-visible:ring-offset-[var(--box-bg)] rounded-[4px] focus-visible:rounded-[2px] focus-visible:bg-[var(--row-hover)];
}
